<?xml version="1.0" encoding="utf-8"?>
<!--<?xml version="1.0" encoding="utf-8"?>
-->
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->


<configuration>
	<connectionStrings>
  <add name="ConnectionString" connectionString="Data Source=ORCL19C;Persist Security Info=True;User ID=E0169;Password=e0169;Unicode=True" providerName="System.Data.OracleClient" />
 </connectionStrings>
 <system.web>
		<globalization culture="en-AE" uiCulture="en-AE" />
		<compilation debug="true" targetFramework="4.7.2" />
		<customErrors mode="Off" />
		<httpRuntime targetFramework="4.7.2" />

		<!-- Enable JSON requests to WebServices -->
		
		<pages>
			<controls>
				<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
			</controls>
		</pages>

		<!-- Support for JSON requests in WebMethods -->
		<webServices>
			<protocols>
				<add name="HttpPost" />
				<add name="HttpGet" />
			</protocols>
		</webServices>
	</system.web>

	<!-- Ensure correct Newtonsoft.Json version -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<!-- Allowing async web service handling -->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<add name="WebServiceHandlerFactory-Integrated" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="Unspecified" preCondition="integratedMode" />
		</handlers>
	</system.webServer>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
</configuration>
